 body {
     font-family:'Special Elite' cursive;
     background-color: rgb(253, 80, 89) ;

 }
 .header_div {

    background-color: rgb(247, 202, 54);
    color: rgb(35, 224, 224);
 }
.header_div img
{
    width: 100px
}
.main_div 
{
    background-color: rgb(250, 167, 178);
    padding: 10px;
    margin-top: 15px;
    border: 3px solid rgb(143, 226, 252);
}
.main_div label{

    background-color: rgb(161, 241, 228);
    width: 310px;
    padding: 10px;
    box-shadow: 5px 5px 18px white;
}
#camera , #result {

    border: 2px solid white;
    width: 310px;
    height: 300px;
    box-shadow: 5px 5px 18px white;

}
.main_div button {

    width: 310px;
    font-size: 16px;
    box-shadow: 5px 5px 18px white;
    border: 1px solid;
}

.footer_div {

    margin-bottom: 50px;
}

.footer_div h4 {

    background: rgb(59, 56, 245);
    border-radius: 10px;
    padding: 5px;
    box-shadow: 5px 5px 18px rgb(179, 199, 243);
}

.footer_div img {

    width: 70px;
}
.copy_right_footer {

    position: fixed;
    color: rgb(248, 196, 153);
    bottom: 0;
    width: 100%;
    background-color: rgb(243, 52, 157);
    line-height: 3;
    text-align: center;
}




